<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64565824436-f996r02vq2kfi3ttgria8l9p339cog7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64565824436-f996r02vq2kfi3ttgria8l9p339cog7u</string>
	<key>API_KEY</key>
	<string>AIzaSyAbY_xesMQUF8KbwCBF9oq48YHOMNLz7gs</string>
	<key>GCM_SENDER_ID</key>
	<string>64565824436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ejercicio-Firebase</string>
	<key>PROJECT_ID</key>
	<string>proyectofirebase-91ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectofirebase-91ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64565824436:ios:e6b180e0c01a9bc021c0e1</string>
</dict>
</plist>